/*Center justify main photo*/
.about_me_photo_container {
display:flex;
justify-content: center;	
}
/* Change picture size */
img {
	width: 200px;
  }
/*Justify the topSectionComment*/
.topCommentSection{
	display: flex;
	justify-content: space-between;
}
