/*--<<Style User Comment>>--*/
.userComment-container {
	display:flex;
	justify-content: left;
	justify-content: space-around;
	font-size: 16px;
}
/*--<<Move Submit button to left side>>--*/
.submit-container {
	display:flex;
	justify-content: left;
	justify-content: space-around;
	font-size: 16px;
}
/*Justify the topSectionComment*/
.topCommentSection{
	display: flex;
	justify-content: space-between;
}