.user-type-header {
font-size: 20px;
font-weight: bold;
}


.flex-container {
    display:flex;
    justify-content: space-around;
    font-size: 16px;
    }
input {
    margin-bottom: 15px;
}
/*Create Button filter*/
.button-filter {
	width: 180px;
	font-size: 20px;
}
/* Bold Button filter when hovering on items*/
.button-filter:hover {
	font-weight: bold;
}
/*Photo size*/
.photo_container {
  position: cerelative;
  width: 40px;
  height: 30px;  
}
img {
  /* max-width is not the css property you need you here */
  width: 30px;
  height: auto;
}

.contact_image {
  text-decoration:none;
}

