/*Center justify main photo*/
.drinks_page_photo_container {
display:flex;
justify-content: center;	
}
/*Center justify Various Art buttons*/
.table-container {
display:flex;
justify-content: center;
font-size: 40px;
}
