div {

}
.user-type-header {
font-size: 20px;
font-weight: bold;
}
#id-name {

}

/*left justify First-time user on log-in page*/
.flex-container {
    display:flex;
    justify-content: space-around;
    font-size: 16px;
    }
input {
    margin-bottom: 15px;
}
