.user-type-header {
font-size: 20px;
font-weight: bold;
}

/*justify First-time user on log-in page*/
.flex-container {
    display:flex;
    justify-content: space-around;
    font-size: 16px;
    }
input {
    margin-bottom: 15px;
}
/* Add user name welcome name styling to rhs */
P {
    display: block;
    
    position: absolute;
    right: 0;
    top: 10px;
    margin-right: 55px;
    unicode-bidi: isolate;
}
