/*Center justify Various poetry buttons*/
.table-container {
display:flex;
justify-content: center;
font-size: 40px;
}

/*Center justify main photo*/
.poetry_page_photo_container{
justify-content: center;
display:flex;	
}

.poetry_blog_content_container {
    display:flex;
    justify-content: left;	
    }

