/*Center justify Various poetry buttons*/
.table-container {
display:flex;
justify-content: center;
font-size: 40px;
}

/*Center justify main photo*/
.poetry_page_photo_container1{
justify-content: center;
display:flex;	
}

/*Size all blog photo Images*/
/*.content-images {
    height: 200px;
  }*/

.poetry_blog_photo_container {
display:flex;
justify-content: left;	
height: 200px;
}
.poetry_blog_text_container {
    display:flex;
    justify-content: right;	
    }

/*Scroll photos on Poetry  Blog1*/
.poetry_blog_photo_container {
  display: flex;
  overflow: auto;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 50%,
    hsl(0 0% 0% / 1) 50%,
    hsl(0 0% 0% / 0)
  );
}
.poetry_blog_photo_container_group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
  animation: scroll-x 20s linear infinite;
}

@keyframes poetry_blog_photo_container {
  0% {
    left: 100%;
  }
  50% {
    left: -100%;
  }
}

@keyframes scroll-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.table-containers {
    display: unset;
  }
  .blogContent {
      display: none
  }
  